<nav class="navbar" [class.scrolled]="isScrolled">
  <div class="nav-container">
    <a class="navbar-brand" href="#">
      <span class="logo-text me-1">AL</span>
      <span class="logo-accent">Aik</span>
    </a>
    
    <button class="navbar-toggler" (click)="toggleNavbar()">
      <span class="toggler-icon"></span>
      <span class="toggler-icon"></span>
      <span class="toggler-icon"></span>
    </button>
    
    <div class="navbar-collapse" [class.show]="!isCollapsed">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" (click)="closeNavbar()">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="closeNavbar()">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="closeNavbar()">Gallery</a>
        </li>
        
        <!-- Landscaping Dropdown -->
        <li class="nav-item dropdown" 
            (mouseenter)="toggleDropdown('landscaping')" 
            (mouseleave)="activeDropdown = null">
          <a class="nav-link dropdown-toggle" (click)="toggleDropdown('landscaping')">
            Landscaping
            <i class="dropdown-arrow" [class.rotated]="isDropdownOpen('landscaping')">▼</i>
          </a>
          <ul class="dropdown-menu" [class.show]="isDropdownOpen('landscaping')">
            <li><a class="dropdown-item" [routerLink]="['/services', 'soft-hard-landscape']" (click)="closeNavbar()">Soft & Hard Landscape</a></li>
            <li><a class="dropdown-item" [routerLink]="['/services', 'pergola-gazebo']" (click)="closeNavbar()">Pergola & Gazebo</a></li>
            <li><a class="dropdown-item" [routerLink]="['/services', 'irrigation-sprinklers']" (click)="closeNavbar()">Irrigation & Sprinklers</a></li>
            <li><a class="dropdown-item" [routerLink]="['/services', 'landscape-lighting']" (click)="closeNavbar()">Landscape Lighting</a></li>
          </ul>
        </li>
        
        <!-- Swimming Pool Dropdown -->
        <li class="nav-item dropdown" 
            (mouseenter)="toggleDropdown('swimming')" 
            (mouseleave)="activeDropdown = null">
          <a class="nav-link dropdown-toggle" (click)="toggleDropdown('swimming')">
            Swimming Pool
            <i class="dropdown-arrow" [class.rotated]="isDropdownOpen('swimming')">▼</i>
          </a>
          <ul class="dropdown-menu" [class.show]="isDropdownOpen('swimming')">
            <li><a class="dropdown-item" [routerLink]="['/services', 'custom-swimming-pools']" (click)="closeNavbar()">Swimming Pools</a></li>
            <li><a class="dropdown-item" [routerLink]="['/services', 'water-features-fountains']" (click)="closeNavbar()">Water Features & Fountains</a></li>
            <li><a class="dropdown-item" [routerLink]="['/services', 'jacuzzi-spa']" (click)="closeNavbar()">Jacuzzi & Spa</a></li>
            <li><a class="dropdown-item" [routerLink]="['/services', 'pool-animation-lighting']" (click)="closeNavbar()">Pools & Animation Lighting</a></li>
          </ul>
        </li>
        
        <!-- Specialty Services Dropdown -->
        <li class="nav-item dropdown" 
            (mouseenter)="toggleDropdown('services')" 
            (mouseleave)="activeDropdown = null">
          <a class="nav-link dropdown-toggle" (click)="toggleDropdown('services')">
            Specialty Services
            <i class="dropdown-arrow" [class.rotated]="isDropdownOpen('services')">▼</i>
          </a>
          <ul class="dropdown-menu" [class.show]="isDropdownOpen('services')">
            <li><a class="dropdown-item" [routerLink]="['/services', 'environmental-services']" (click)="closeNavbar()">Environmental Services</a></li>
            <li><a class="dropdown-item" [routerLink]="['/services', 'digital-iot-solutions']" (click)="closeNavbar()">Digital IoT Solutions</a></li>
            <li><a class="dropdown-item" [routerLink]="['/services', '3d-design-visualization']" (click)="closeNavbar()">3D Design & Visualization</a></li>
          </ul>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" (click)="closeNavbar()">Contact Us</a>
        </li>
      </ul>
      
      <div class="social-icons ps-5">
        <a href="#" class="social-icon">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#" class="social-icon">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="#" class="social-icon">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </div>
    </div>
  </div>
</nav>